{% extends 'base.html' %}
{% block content %}
<div>{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class=flashes>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
</div>
<div class="main-account-container">

    <div class="info-box">
        <div class="page-title">
            <h1>Your Account</h1>
            <p>You can edit your account details here</p>
        </div>
        <div class="account-info-container">
            <div class="account-info">
                <h4 >Account Name: {{current_user.name}}</h4>
                <h4 >Username: {{current_user.username}}</h4>
                <form method="post" name="completed">
                        <div class="change-password">
                            <h4>Password: </h4>
                            <button type="submit" name="button" value='change-password' class="btn btn-outline-primary">Click here to change password</button> 
                        </div>
                </form>

            </div>
            <form class="account-buttons-container" method="post" name="completed">
                <div class="account-logout border-top border-secondary pt-3">
                    <button type="submit" name="button" value='logout' class="account-logout-button btn btn-outline-danger update-btn">Log out</button>
                </div>

                

            </form>
        </div>
    </div>
</div>

{% endblock%}
