{% extends 'base.html' %}
{% block content %}
<div >{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div class="page-title">
    <!-- <h1>Student Name: {{student_id}}</h1> -->
    <h1>Create Assessment for {{selected_module}}</h1>
    <p>Please create a new assessment by filling in your assessment details below.</p>
</div>
<div class="back-to-modules-button-container">
    <form method="post" name="completed" class="back-to-modules-button">
        <button type="submit" name="button" value='back-to-modules' class="btn btn-outline-danger update-btn"> < Back to {{selected_module}}</button>
    </form>
    
</div>

<div class="add-assessment-container">
    <div class="add-assessment-page">

        <form method="post" name="create_assessment" class="form">
            <!-- Prevents Attacks -->
            {{ form.hidden_tag() }}

            <div class="form-group">
                <p class="form-label">Assessment Title</p>
                <div>
                   {{ form.title(class_="input-field") }}
                   {% for error in form.title.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group">
                <p class="form-label">Your score</p>
                <p>
                    {{ form.score(class_="input-field") }}
                    {% for error in form.score.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>

            <div class="form-group">
                <p class="form-label">Total Marks</p>
                <p>
                    {{ form.total_marks(class_="input-field") }}
                    {% for error in form.total_marks.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>

            <div class="form-group">
                <p class="form-label">How much is this assessment worth(%)</p>
                <div>
                    {{ form.assessment_worth(class_="input-field") }}
                    {% for error in form.assessment_worth.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div>
                {{ form.status }}
            </div>

            <div class="submit-btn-container">
                <input type="submit" name='submit' value="Submit" id=5 class="btn btn-outline-primary submit-btn">
            </div>
        </form>
    </div>
</div>


{% endblock%}
