{% extends 'base.html' %}
{% block content %}
<div >{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div class="page-title">
    <h1>Dashboard</h1>

</div>

<div class="module-page-container">
    <!-- <h2>Modules</h2> -->
    <form method="post" name="completed" class="add-module-button">
        <h3 class="welcome-message">Welcome, {{name}}</h3>
        <button type="submit" name="button" value='add-module' class="btn btn-outline-primary update-btn">Add module</button>
    </form>

    <div class="module-container">

        {% for p in data %}
         <div class="module" value={{p.module_code}}>
             <div class="module-info-container">
                 <div class="module-title">
                     <strong> {{ p.title }} </strong>
                      <p>{{p.module_code}}   |   {{p.credit}} credits | {{p.num_of_assessments }} assessments  </p>
                 </div>
                 <div class="module-info">
                     <div class="info-item">
                         <h1>{{p.average}}%</h1>  <p>Average:</p>
                     </div>
                     <div class="info-item">
                         <h1>{{p.average}}%</h1>  <p>Average:</p>
                     </div>
                 </div>
             </div>

             <div>
                <form method="post" name="completed" class="module-buttons-container">
                    <button type="submit" name="button" value='{{p.module_code}}' class="btn btn-outline-primary update-btn">View Module</button>
                    <button type="submit" name="button" value='delete-module-{{p.module_code}}' class="btn btn-outline-danger update-btn">Delete Module</button>
               </form>
            </div>
         </div>
         {% endfor %}
    </div>
</div>
{% endblock%}
