{% extends 'base.html' %}
{% block content %}
<div class="main-page-container">
    <h4 class="welcome">Welcome</h4>
    <h4 class="to">to</h4>
    <h1 class="assessment">GRADE CALC</h1>
    <h5 class="subtitle">The ultimate university grade tracker</h5>
    <h6 class="description"> GRADECALC uses advanced algorithms to make keeping track of your uni grades a breeze. <br> 
        Simply add the grades of your <strong> assessments</strong> and <strong> modules</strong> to calculate your weighted averages and more.<br>
        Get the degree clasification you deserve now!</h6>
    <form method="post" name="completed">
        <button type="submit" name="button" value='login' class="btn btn-outline-primary update-btn">Login</button>
        <button type="submit" name="button" value='signup' class="btn btn-outline-primary update-btn">Sign up</button>
    </form>
</div>
{% endblock%}
