{% extends 'base.html' %}
{% block content %}
<div class="main-page-container">
    <h4 class="welcome">Welcome</h4>
    <h4 class="to">to</h4>
    <h1 class="assessment">EZ-ASSESSMENT</h1>
    <h5 class="subtitle">The ultimate personal assessment to-do list app</h5>
    <form method="post" name="completed">
        <button type="submit" name="button" value='login' class="btn btn-outline-primary update-btn">Login</button>
        <button type="submit" name="button" value='signup' class="btn btn-outline-primary update-btn">Sign up</button>
    </form>
</div>

{% endblock%}
