{% extends 'base.html' %}
{% block content %}
<div>{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
<div class="page-title">
    <h1>Login</h1>
    <p>Please enter your information below to login to your account</p>
</div>

<div class="login-container">

    <div class="login-page">

        <form method="post" name="add_assessment" class="form">
            <!-- Prevents Attacks -->
            {{ form.hidden_tag() }}

            <div class="form-group">
                <p class="form-label">Username*</p>
                <div>
                    {{ form.username(class_="input-field") }}
                    {% for error in form.username.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div>
                {{ form.status }}
            </div>

            <div class="form-group">
                <p class="form-label">Password*</p>
                <p>
                    {{ form.password(class_="input-field") }}
                    {% for error in form.password.errors %}
                        <span style="color:red">[{{ error }}]</span>
                    {% endfor %}
                </p>
            </div>

            <div class="form-group">
                <p class="form-check">
                    {{ form.remember(class_="form-check-input")}}
                    {{ form.remember.label(class_="form-check-label")}}
                    

                </p>
            </div>
            <div class="submit-btn-container">
                <input type="submit" value="Login" id=5 class="btn btn-outline-primary submit-btn">
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Don't have an account? <a class="ml-2" href={{url_for('signup')}}> Sign up </a>
        </small>
</div>
    <!-- <div>
            {% for p in data %}
            <div class="uncompleted-assessments">
                <div class="info-container">
                    <div class="assessment-title">
                    </div>
                    <div>
                        <div class="assessments-info">
                           <p> <strong> Username:</strong> {{p.username}} | <strong>Password:</strong> {{ p.password }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div> -->
</div>


{% endblock%}
